{% extends 'customer/base.html' %}

{% block content %}
    
 
 <div class="container mb-5">
 	<div class="row justify-content-center mt-5">
        <div class="col-md-10 col-sm-12 offset-md-1 p-4 text-center">
        	<h1 style="color:black"><b>About Us</b></h1>
</div>
    </div>
    <div class="row justify-content-center mt-1">
        <div class="col-md-10 col-sm-12 offset-md-1 p-4 text-center">
         <p style="color:black"><b>"We ought to be about something beyond moving chicken. We ought to be a piece of our clients’ lives and the networks in which we serve.”

Consistently, in excess of 11 million visitors visit ‘EATERY’  eateries around the globe. What’s more, they do as such in light of the fact that our eateries are known for serving astounding, incredible tasting, and reasonable food. The first home of customary burgers, our promise to premium fixings, signature formulas, and family-accommodating feasting encounters is the thing that has characterized our image.</b></p>
         <p style="color:black"><b>At ‘EATERY’ , we’re tied in with presenting crisp food, regardless of whether it implies going the additional mile. When you stroll through our entryways, we do what we can to make everybody feel comfortable in light of the fact that our family stretches out through your locale. We deliver the food with safety and also communicate directly with our customer without any involvement of any third party.</b></p>
         <p style="color:black"><b>We Believe in Quality. All around. Quality food can’t be made without quality initiative. Find out about the general population driving The ‘EATERY’ .</b></p>
        </div>
    </div>
</div>
{% endblock content %}